body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

#logo p {
  margin: 0;
  font-size: 1.5em;
}

#opcoes button {
  background-color: #576b58;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#opcoes button:hover {
  background-color: #45a049;
}

#dash {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#infoUsuario, #saldo, #projecao {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  box-sizing: border-box;
}

#infoUsuario img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#comprasQuadro {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.comprasCard {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.comprasCard img {
  max-width: 50px;
  margin-right: 20px;
}

.comprasCard p {
  margin: 0 10px;
  flex-grow: 1;
}

/* Estilo para os botões de editar e excluir */
button.editar, button.excluir {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button.editar i, button.excluir i {
  margin-right: 8px;
}

button.editar {
  background-color: #4CAF50;
  color: white;
}

button.editar:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.excluir {
  background-color: #f44336;
  color: white;
}

button.excluir:hover {
  background-color: #e53935;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
